<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST" action="/">
            <input type="text" name="comment">
            <input type="submit" value="Add a Comment">
        </form>
        <form method="POST" action="/">
            <input type="text" name="rating">
            <input type="submit" value="Leave a Rating!">
        </form>
        <h1>Look below and you will see comments and ratings</h1>
        <p><b>{{movie_id}}</b></p>
        {% for i in range(num_data) %}
            <p><b>{{data[i].comment}}</b></p>
        {%endfor%}
    </body> 
</html>